<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.net.yzl.base">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application >
    <activity android:name=".activity.BigPhotoActivity"
        android:theme="@style/BigPhotoTranslucent"
        android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
    </activity>
        <activity android:name=".activity.PublicWebViewActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" >
        </activity>
    </application>
</manifest>